<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Latihan Empat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div id="app" class="container" style="margin-top:75px">
        <div class="input-group" style="margin-bottom:15px">
            <input v-model="newItem" v-on:keyup.enter="addItem" placeholder="add shopping list item" type="text" class="form-control">
            <span class="input-group-btn">
                <button v-on:click="addItem" class="btn btn-primary" type="button">Add!</button>
            </span>
        </div>
        <h2 class="text-center">{{ title }}</h2>
        <div class="form-group">
            <ul>
                <li v-for="item in items" v-bind:class="{ 'removed':
                item.checked }">
                    <div class="checkbox">
                        <label>
                        <input class="form-check-input" type="checkbox" v-model="item.checked"> {{
                        item.text }}
                        </label>
                    </div>
                </li>
            </ul>
            <div class="footer">
                <hr/>
                <em>Change the title of your shopping list here</em>
                <input class="form-control" v-model="title"/>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
    <script src="assets/js/test04.js"></script>
</body>
</html>