<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Latihan Tiga</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
        <div id="app" class="container">
            <h2>{{ title }}</h2>
            <ul>
                <li v-for="item in items" v-bind:class="{ 'removed':
                item.checked }">
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" v-model="item.checked"> {{
                        item.text }}
                        </label>
                    </div>
                </li>
            </ul>
            <div class="footer">
                <hr/>
                <em>Change the title of your shopping list here</em>
                <input v-model="title"/>
            </div>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
    <script src="assets/js/test03.js"></script>
</body>
</html>