<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Latihan Enam Manjemen Waktu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
    <div>
        <div class="container" style="margin-top:60px">
            <div id="app">
                <h2>
                    <span>Manajemen Waktu</span>
                    <button class="btn btn-primary" :disabled="state==='mulai'"
                        @click="start()">
                        <i class="fas fa-play-circle"></i>
                    </button>
                    <button class="btn btn-default" :disabled="state!=='mulai'"
                        @click="pause()">
                        <i class="fas fa-pause-circle"></i>
                    </button>
                    <button class="btn btn-danger" :disabled="state!=='mulai' && state !== 'jeda'"
                        @click="stop()">
                        <i class="fas fa-stop-circle"></i>
                    </button>
                </h2>
                <div class="card bg-dark" style="margin:15px;">
                    <div style="padding-top:10px; padding-left: 10px;">
                        <span class="badge badge-info">{{ men }} : {{ det }}</span> <span class="text-white"><small>{{ title }}</small></span>
                        <span><p class="text-white">Untuk memulai waktu simulasi, silahkan pencet tombol play yang ada diatas!</p></span>
                    </div>
                    <img :class="{ 'hidden': pengaturanwaktuState === 'kerja' }" :src="'http://thecatapi.com/api/images/get?type=gif&size=med&ts=' + timestamp" width="200" style="padding-left:10px; padding-bottom: 10px" />
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
    <script src="assets/js/test06.js"></script>
</body>
</html>